@import "../config.scss";
@import "../navigation.scss";
@import "../reset.scss";
@import "../allPages.scss";
@import "../contacts-section.scss";
@import "../reviwsBlock.scss";

body {
  .wrapper {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    #about-me {
      margin-top: 60px;
      background: none;
      h2 {
        margin-bottom: 60px;
      }
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .text {
          color: $main-white;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          .name {
            font-size: 48px;
          }
          .more-btn-block {
            display: block;
            margin-top: 30px;
            padding: 25px 24px;
            width: fit-content;
            border-radius: 60px;
          }
        }
        .image {
          height: fit-content;
          overflow: hidden;
          border-radius: 60px;
          img {
            height: 600px;
          }
        }
      }
    }
    #projects {
      background: none;
      .content {
        margin-top: 60px;
        overflow: hidden;
        display: block;
        color: $main-white;
        .swiper-slide {
          width: fit-content;
          overflow: hidden;
          border-radius: 30px;
          img {
            height: 450px;
          }
          .swiper-pagination-bullet {
            width: 25px;
            height: 25px;
          }
        }
        .more-btn-block {
          display: block;
          padding: 28px 146px;
          width: fit-content;
          border-radius: 60px;
          margin: 0 auto;
          margin-top: 50px;
          font-size: 64px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .space {
          pointer-events: none;
          height: 70px;
        }
      }
    }
    #reviews {
      height: fit-content;
      color: $main-black;
      h2 {
        margin-top: 50px;
        color: $main-black;
      }
      .content {
        width: fit-content;

        .users-reviews {
          margin-top: 100px;
          margin-left: 243px;
          display: flex;
          flex-direction: column;
          gap: 50px;
          & > div.user-review {
            display: flex;
            img {
              width: 100px;
              height: 100px;
              margin-right: 25px;
            }
            div {
              p {
                display: block;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                max-width: 758px;
                &.head {
                  margin-bottom: 18px;
                  font-size: 24px;
                }
              }
            }
          }
        }
        a,
        a:visited {
          font-size: 24px;
          display: block;
          width: fit-content;
          border-radius: 21px;
          margin-top: 25px;
          margin-left: 233px;
          padding: 5px 10px;
          background: none;
          color: $main-black;
          transition: 0.1s;
          &:hover {
            background: $main-blue;
            color: $main-white;
          }
          &:active {
            background: $main-black;
            color: $main-blue;
          }
          margin-bottom: 65px;
        }
      }
    }
    #blog {
      background: none;
      height: 100%;
      .blog-item {
        display: flex;
        justify-content: space-between;
        h3 {
          color: #fff;
          font-family: JetBrains Mono;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

          margin-top: 60px;
        }
        p {
          color: #fff;
          font-family: JetBrains Mono;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

          margin-top: 26px;
          margin-right: 45px;
        }
        .blog-date {
          color: #636363;
          font-family: JetBrains Mono;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        a {
          color: #f90;
          font-family: JetBrains Mono;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        a:hover {
          color: $main-blue;
        }
        .img-blog {
          width: 577px;
          height: 366px;
          border-radius: 60px;
          background: #d9d9d9;
          margin-top: 60px;
        }
      }
      .more-btn-blog {
        border-radius: 60px;
        border: none;
        padding: 28px 146px;
        align-items: center;
        margin: 0 auto;
        margin-top: 120px;
        display: block;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .blog-page {
      margin: 60px 0;
    }
    section {
      width: 100%;
      background-color: white;
      border-radius: 50px;
    }
  }
}
:root {
  --swiper-theme-color: #1b91ff !important;
  --swiper-pagination-bullet-inactive-color: #888888;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-pagination-bullet-size: 25px !important;
}
